.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
/recording/recording.json
results.json
settings.json
__pycache__/
*.pyc
/venv/
/Colony.prof
*.prof
/recording/trial1recording
/recording/trial2recording
/recording/trial3recording
/recording/trial1results
/recording/trial2results
/recording/trial3results
