.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
settings.json
__pycache__/
*.pyc
/Colony.prof
*.prof
recording/results/*.json
*.spec
dist/
build/
setup.py
/Colony.bat
/recording/results/emp_testing/
/recording/results/engineering/
/recording/results/user/
/recording/results/*
/venv/
